<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 🔎 Android 11+ package visibility (ALL launcher apps) -->
    <queries>
        <!-- সব launcher app detect করার জন্য -->
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>

        <!-- Browser support -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <!-- 🎤 Voice -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 📞 Call -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 🔦 Flash -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 📶 Network -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 🔔 Foreground -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:label="Voice Assistant BD"
        android:icon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.VoiceAssistantBD">

        <activity android:name=".TrainingActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>
</manifest>